<div class="row">

    <div class="col-md-4" *ngFor="let row of rows | slice:0:3">
        <div class="card">
            <img class="card-img-top" src="https://dummyimage.com/150x100/808080/fff.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{ row.title }}</h5>
                <p class="card-text">{{ (row.content | slice:0:60) + "..." }}</p>
                <a routerLink="" class="btn btn-primary">Read more...</a><br>
            </div>
        </div>
    </div>

</div>
