<div class="row">
    <button *ngIf="auth.loggedIn()" (click)="add()" class="btn btn-primary ml-auto mr-3 mb-3">New blog</button>
    <div class="col-sm-12 mb-3" *ngFor="let row of rows">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ row.title }}</h5>
                <p class="card-text">{{ (row.content | slice:0:100) + '...' }}</p>
                <a (click)="goto(row._id)" class="btn btn-primary">Read more...</a>
            </div>
        </div>
    </div>
</div>