<app-main-nav></app-main-nav>
<div class="container my-5">
    <div class="row">
        <div class="col-sm-4 offset-sm-4">
            <mat-card>
                <mat-card-title>Log in</mat-card-title>
                <form>
                    <div class="form-group">
                        <mat-form-field class="full-width">
                            <input type="text" matInput placeholder="Username">
                        </mat-form-field>
                    </div>
                    <div class="form-group">
                        <mat-form-field class="full-width">
                            <input type="password" matInput placeholder="Password">
                        </mat-form-field>
                    </div>
                    <button class="btn btn-primary">Submit</button >
                </form>
            </mat-card>
        </div>
    </div>
</div>